body, html {
    padding: 0%;
    margin: 0%;
    min-height: 100vh;
}

body {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 150px auto;
}

.sidebar{
    grid-column: span 1;
    grid-row: span 2;
    background-color: lightcyan;

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
}

.header{
    grid-row: span 1;
    background-color: lightcoral;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 2fr;
}

.search-bar{
    grid-column: 1/ span 1;
}

.buttons {
    align-self: center;
}

.main-content {
    grid-column: 2;
    background-color: lightgreen;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.projects {
    grid-column: 1/ span 1;
    grid-row: 1/ span 2;
}

.announcements {
    grid-column: 2/ span 1;
}

.trending {
    grid-row: 2;
    grid-column: 2/ span 1;
}